
@{
    ViewBag.Title = "فعال سازی حساب کاربری";
    Layout = "~/Views/Shared/_DefualtCmsLayout.cshtml";
}

<div class="container">
    <div class="alert alert-success">
        <h3>@ViewBag.UserName عزیز!</h3>
        <p>حساب کاربری شما فعال شد از طریق <a href="/Login">لینک</a> این میتوانید وارد سایت شوید.</p>
    </div>
</div>


